
<div class="jumbotron">
	<h1 align="center">New Review</h1></div>
<% if user_signed_in? %>

<div class="well">
<%= render 'form' %>
</div>

<% else %>

<h4><%= link_to "Please sign in to post a new review.", new_user_session_path %></h4>
<% end %>
<%= link_to 'Back', statuses_path %>
