<div class="page-header">
	<div class="row">
		<div class="col-md-1">
			App image goes here
		</div>
		<div class="col-md-6">
		<h1><%= @appName.appName %></h1><br>
		<span><strong>App Description goes here</span></strong><br>
	</div>
</div>
		<h3>Reviews history</h3>
	</div>

	
		<% @statuses.each do |status| %>
			<div class ="well">
				
				<%= status.content %>
				<hr />
				<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
				</div>
					
					<% end %>